
h1{
  color: rgb(76, 36, 121);
  font-size: 50px;
  padding: 20px;
}
.main{
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
 
 
  .counters{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // max-width: 600px;
  }
}